@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Custom Carousel Styling */
.carousel-container {
    background-color: #000; /* Black background */
  }
  
  .swiper-pagination-bullet {
    background: gray;
    opacity: 0.5;
  }
  
  .swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
  }